mixin ArticleThree
  +Section.pt-4.pt-md-5
    .row.align-items-center
      .col-md-6
        img.img-fluid.mb-5.mb-md-0(src=`${CWD}assets/img/illustrations/a-3.png` width='480'  alt='')
      .col-md-6.text-center.text-md-left
        h2 Bringing New IT Business
        p.lead.text-muted After concluding that the solution will be a great fit for your company, it’s time to begin implementing it. Throughout this process, you should remain transparent with future users of the solution. 
        p.lead.text-muted Clearly explain how you intend on the technology being used, the support that you will provide and how it will benefit the business as a whole.
        a.btn.btn-primary(href='#')
          | Purchase Now 
