mixin ArticleOne
  +Section.pt-4.pt-md-5
    .row.align-items-center
      .col-md-6
        img.img-fluid.mb-5.mb-md-0(src=`${CWD}assets/img/illustrations/a-1.png` width='480'  alt='')
      .col-md-6.text-center.text-md-left
        h2 Captivating &amp; Creative Elements
        p.lead.text-muted You need a big enough audience to allow for a meaningful response when you try out a new content idea, or craft an offer for your product or service.
        p.lead.text-muted Ask anyone trying to get a business off the ground with an email list of 34 people, 8 of whom they’re related to.
