mixin ArticleTwo
  +Section.pt-4.pt-md-5
    .row.align-items-center
      .col-md-6
        img.img-fluid.mb-5.mb-md-0(src=`${CWD}assets/img/illustrations/a-2.png` width='480'  alt='')
      .col-md-6.text-center.text-md-left
        h2 Ready-to-Go Inner Pages
        p.lead.text-muted Most booklets are created with the Saddle-Stitch binding method. This method uses printed sheets that are folded and nested one inside the other and then stapled through the fold line with wire staples.
        p.lead.text-muted The staples pass through the folded crease from the outside and are clinched between the centermost pages.
