mixin Features
  +Section.pt-4.pt-md-5
    .row.align-items-center
      .col-md-5.col-lg-6
        img.img-fluid.mb-5.mb-md-0(src=`${CWD}assets/img/illustrations/2.png` alt='')  
      .col-md-7.col-lg-6
        h2 We Provide Many 
          br
          | Features You Can Use
        p.mb-3  You can explore the features that we provide with fun and have their own functions each feature.
   
        .col-md-auto
          .d-flex
            span
              svg.bi.bi-check-circle(width='.8em', height='.8em', viewBox='0 0 16 16', fill='#389E7F', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
                path(fill-rule='evenodd', d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z')

            p.ms-2 Powerfull online protection.

          .d-flex
            span
              svg.bi.bi-check-circle(width='.8em', height='.8em', viewBox='0 0 16 16', fill='#389E7F', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
                path(fill-rule='evenodd', d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z')

            p.ms-2 Internet without borders.

          .d-flex
            span
              svg.bi.bi-check-circle(width='.8em', height='.8em', viewBox='0 0 16 16', fill='#389E7F', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
                path(fill-rule='evenodd', d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z')

            p.ms-2 Supercharged VPN

          .d-flex
            span
              svg.bi.bi-check-circle(width='.8em', height='.8em', viewBox='0 0 16 16', fill='#389E7F', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
                path(fill-rule='evenodd', d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z')

            p.ms-2 No specific time limits.      