mixin Features
  +Section.pt-4.pt-md-5
    .row.align-items-center
      .col-md-5.col-lg-6.order-md-1
        img.img-fluid.mb-5.mb-md-0(src=`${CWD}assets/img/illustrations/2.png` alt='')  
      .col-md-7.col-lg-6
        h2 Light, Fast &amp; Powerful
        p.lead.text-muted.mb-3  It all depends on your philosophy of how you approach site design. You can save yourself a lot of trouble from the very beginning by designing smartly to avoid harmful practices that affect your site’s loading speed.
        p.lead.text-muted.mb-3  Designers need to stick to the true principle of minimalism to come up with a site that’s light on its feet and doesn’t take forever to load from one page to the next.
        .row  
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/folder.png' width="36" alt='')
            h5  Revenue Generation
            p.text-muted.mb-0
              | Revenue is the income generated from normal business operations
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/layers.png' width="36" alt='')
            h5 Business Plan
            p.text-muted.mb-0
              | A business plan is a written document that describes in detail 
