mixin FunFacts
  +Section.py-4
    .row.shadow-lg.py-5.rounded-3
      .col-4.border-end
        .d-flex.flex-1.justify-content-center
          .me-5
            img(src=`${CWD}assets/img/icons/user.png` alt='' width="55").img-fluid    
          div
            p.fw-bolder.text-900.mb-0 90+  
            p.mb-0 Users 
      .col-4.border-end
        .d-flex.flex-1.justify-content-center
          .me-5
            img(src=`${CWD}assets/img/icons/location.png` alt='' width="55").img-fluid    
          div
            p.fw-bolder.text-900.mb-0 30+  
            p.mb-0 Locations
      .col-4
        .d-flex.flex-1.justify-content-center
          .me-5
            img(src=`${CWD}assets/img/icons/server.png` alt='' width="55").img-fluid    
          div
            p.fw-bolder.text-900.mb-0 50+  
            p.mb-0 Servers 

      