mixin HeroSection
  +Section
    .row.align-items-center
      .col-lg-6.col-md-5.order-md-1
        img.img-fluid(src=`${CWD}assets/img/illustrations/1.png`  alt='')  
      .col-md-7.col-lg-6.mt-5
        h1.lh-base Want anything to be
          br
          |easy with LaslesVPN.
        p.lead.mt-3.mb-4 Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.
        a.btn.btn-primary.rounded.shadow-lg.px-4(href='#')
          | Get Started 
  