mixin HeroSection
  section.py-0#home
    +Background({ image: `${CWD}assets/img/illustrations/1.png`, attrs: { style: { 'background-position': 'right top', 'background-size': 'contain'} }, className: 'd-none d-lg-block' })
    +Background({image: `${CWD}assets/img/illustrations/1-1.png`, attrs: { style: { 'background-position': 'left top', 'background-size': 'cover'} }, className: ' d-lg-none' })
    .container
      .row.align-items-center.min-vh-100
        .col-md-7.col-lg-6.py-6.text-md-left.text-center
          h1 Introduce Your Product
            br
            |  Quickly &amp; Effectively
          p.lead.text-muted Understand your target audience. This is critical because the language, channels and information you use to communicate with and appeal to one demographic may not be as effective with another.
          p.lead.text-muted Understand the target audience and how to reach them effectively, both with the ad and mentally.
          .pt-4
            a.btn.btn-primary.mr-3(href='#')
              | Purchase UI Kit 
            a.btn.btn-outline-primary(href='#')
              | Learn More