mixin Pricing
  +Section.bg-100
    .row.justify-content-center
      .col-md-8.col-lg-6.text-center
        h1 Choose Your Plan
        p.lead Let's choose the package that is best for you and explore it happily and cheerfully.
    .row 
      .col-lg-4.pt-5
        .card.mb-5.mb-lg-0.rounded-3
          .card-body
            .card-title
              .text-center.pt-6
                img(src=`${CWD}assets/img/icons/free.png` alt='' ).img-fluid 
                h5.my-4 Free Plan
                
      .col-lg-4.pt-5
        .card.mb-5.mb-lg-0.rounded-3
          .card-body
            .card-title
              .text-center.pt-6
                img(src=`${CWD}assets/img/icons/free.png` alt='' ).img-fluid 
                h5.my-4 Standard Plan
                
      .col-lg-4.pt-5
        .card.mb-5.mb-lg-0.rounded-3
          .card-body
            .card-title
              .text-center.pt-6
                img(src=`${CWD}assets/img/icons/free.png` alt='' ).img-fluid 
                h5.my-4 Premium Plan
                
