mixin Pricing
  +Section.bg-100.pt-0.pb-5.pb-md-7.pb-xl-9#pricing
    .row.justify-content-center
      .col-md-8.col-lg-6.text-center
        h1 A Price To Suit Everyone
        p.lead.text-muted We offer two usage options for customers, the Personal license or the Flexible license. You’ll know which option is right for you based on the size of your business and the number of users that will need to have access to the software.
        h1.mb-0 $40
        p Ui Design Kit
        a.btn.btn-primary.px-5(href='#')
          | Purchase Now

