mixin Stats
  +Section.pt-4.pt-md-5
    .row.justify-content-lg-between.align-items-center
      .col-lg-5
        img.img-fluid.mb-5(src=`${CWD}assets/img/gallery/1.png` alt='') 
      .col-lg-6
        h2  Making The Web a Better Place
        p.lead.text-muted.mb-3  It's no secret that big software companies occasionally harbour big security holes. This jeopardizes everyone's data, from personal information to finances.
        p.lead.text-muted.mb-3  If you have a knack for finding bugs and want to use your talent for good instead of evil, both Google and Facebook are open to paying you for the bounties you find.
        .row  
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/home.png'  width="36"  alt='')
            h5 Marketing Strategy
            p.text-muted.mb-0
              | A marketing strategy refers to a business's overall game plan for reaching  consumers
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/file.png'  width="36"  alt='')
            h5 Marketing Articles
            p.text-muted.mb-0
              | Marketing articles to help you at every stage of your entrepreneurial journey.          
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/chat.png'  width="36"  alt='')
            h5 Marketing Resources
            p.text-muted.mb-0
              | Social media marketing is one of the most popular  types of marketing strategies
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/calculator.png'  width="36"  alt='')
            h5 Calculators
            p.text-muted.mb-0
              | Is designed to make it easy for you to start planning your Internet marketing strategy               

