mixin Subscribe
  section.py-5.z-index-1(style="margin-bottom: -10rem")
    .container.rounded-3.shadow-sm.bg-white
      .row.flex-center.text-center.py-6.px-3.px-md-4.px-lg-5
        .col-12.col-lg-6.text-lg-start
          h2 Subscribe Now for 
            br
            |Get Special Features!
          p.mb-lg-0 Let's subscribe with us and find the fun.

        .col-12.col-lg-6.text-lg-end
          a.btn.btn-lg.btn-danger.hover-top.btn-glow.text-end(href='#')
            | Subscribe Now
      