mixin NavbarLandie
  nav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-2.px-0(data-navbar-on-scroll)
    .container
      a.navbar-brand.fw-bold.order-1(href=`${CWD}index.html`)  Landie
      button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.w-lg-auto.order-3.order-lg-0.border-top.border-lg-top-0.border-200.mt-3
        ul.navbar-nav
          li.nav-item
            a.nav-link.text-500.px-2.ml-lg-n2(aria-current='page', href='#home' class= currentPage === 'index' ? 'active' : false ) Home
          li.nav-item
            a.nav-link.text-500.px-2(href='#about') About
          li.nav-item
            a.nav-link.text-500.px-2(href='#pricing') Pricing
      a.btn.btn-primary.px-3.px-md-5.order-2(href='#!' ) Buy now
    
